# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
build/
**/.serverless/

# Python
**/__pycache__/
**/*.py[cod]
**/venv/
**/.venv/
**/*.egg-info/

# Env files
.env
**/.env

# OS
.DS_Store
**/.DS_Store

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
